<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1 style="color: rgb(40, 83, 163);">Zolve Wallet transaction system</h1>
    Login-
    <br><br>
    <form action="/login" method="POST">
        Phone No: <input type="int" name="id" id="id">

        <input type="submit" value="Login" name="login_submit">
    </form>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <b><p style="color:red"> {{ message }} </p></b>            
            {% endfor %}
        {% endif %}
    {% endwith %}

    <br><br>
    Create new user:-
    <br>
    <form action="/create_wallet" method="GET">
        <input type="submit" name="create_user_btn" value="Create_user">
    </form>
</body>
</html>